<fieldset>
    <legend>Filter</legend>
    <div class="container">
        <form [formGroup]="filterForm" class="filter-form">
            <mat-form-field class="filter-full-width">
                <input matInput formControlName="searchText" placeholder="Search Field" (input)="onSearchChange($event.target.value)">
            </mat-form-field>
    
            <mat-form-field>
                <mat-select placeholder="Select Camera Type" formControlName="cameraType">
                <mat-option *ngFor="let type of cameraTypes" [value]="type" class="filter-full-width">
                    {{type}}
                </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="filter-full-width">
                <input matInput formControlName="cameraPrice" type="number" placeholder="Price">
            </mat-form-field>

            <mat-form-field class="filter-full-width">
                <input type="text" placeholder="Pick one" matInput formControlName="cameraOwner" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let ownerType of ownerTypes" [value]="ownerType" class="filter-full-width">
                        {{ownerType}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="searchCameras()">Search</button>
        </form>
    </div>
  </fieldset>