<fieldset>
    <legend>Save Camera</legend>
    <div class="container">
        <form [formGroup]="editForm" class="edit-form">
            <mat-form-field class="edit-full-width">
                <input matInput formControlName="name" placeholder="Camera Name">
            </mat-form-field>
            
            <mat-form-field class="edit-full-width">
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Select Camera Type" formControlName="cameraType">
                    <mat-option *ngFor="let type of cameraTypes" [value]="type" class="filter-full-width">
                    {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="edit-full-width">
                <input matInput formControlName="cameraPrice" type="number" placeholder="Price">
            </mat-form-field>

            <mat-form-field class="edit-full-width">
                <input matInput formControlName="cameraOwner" placeholder="Owner">
            </mat-form-field>

            <button mat-raised-button color="primary">Save</button>
        </form>
    </div>
</fieldset>